<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}lbv_forum{% endblock title%}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="session-data" 
        data-border-radius="{{ session.get('border-radius', 0) }}">
    </div>
    <script>
        const borderRadius = document.getElementById('session-data').dataset.borderRadius;
        document.documentElement.style.setProperty(
            '--custom-border-radius', 
            `${borderRadius}px`
        );
    </script>
    <div class="wrapper">
        <div class="header">
            <a class="link" href="{{ url_for('feed') }}">Лента</a>
            <a class="link" href="{{ url_for('graphiti') }}">Графити</a>
            <!-- <a href="{{ url_for('indev') }}">.png</a> -->
            <!-- <a href="{{ url_for('indev') }}">Нейронка</a> -->
            <div class="spacer"></div>

            <a id="search" class="link btn" href="{{ url_for('indev') }}">
                <img src="{{ url_for('static', filename='icons/search.svg') }}" alt="Поиск">
            </a>
            <button class="link btn" id="show_add_popup" class="btn popup_action">
                <img id="show_img" src="{{ url_for('static', filename='icons/plus.svg') }}" alt="+">
                <div id="add_popup" class="display_none">
                    <a class="btn popup_action" href="{{ url_for('new_thread') }}">
                        Новая тема
                    </a>
                    <a class="btn popup_action" href="{{ url_for('new_graphiti') }}">
                        Создать графити
                    </a>
                </div>
            </button>
            
            <div class="spacer4_h"></div>
            <div class="spacer_line_h"></div>
            <div class="spacer4_h"></div>

            {% if 'token' in session %}
                <a class="link" href="{{ url_for('me') }}">
                    <img class="profile-img" src="{{ url_for('static', filename='img/standart_pic.png') }}" alt=" ">
                    Мой аккаунт</a>
            {% else %}
                <a class="link" href="{{ url_for('me') }}">Войти</a>
            {% endif %}
        </div>
        <div class="content">
            {% block content %} {% endblock content %}
        </div>
        
        {% with messages = get_flashed_messages()%}
            {% if messages %}
                {% for message in messages%}
                <div class="flash_message">
                    <p>{{message}}</p>
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <script>
            const flash_message = document.querySelector('.flash_message');
            if (flash_message) {
                flash_message.classList.add('opacity0');

                setTimeout(() => {
                    flash_message.classList.add('opacity0');
                }, 2000);
            }

            show_add_popup = document.getElementById('show_add_popup');
            add_popup = document.getElementById('add_popup');
            search = document.getElementById('search');
            let selected_add = 0
            
            show_add_popup.addEventListener('scroll', () => {
                preventDefault
                selected_add = 1
                console.log(selected_add)
            });

            show_add_popup.addEventListener('mouseenter', () => {
                selected_add = 0

                add_popup.classList.toggle('display_none');
                    show_add_popup.classList.toggle('remove_maxwidth');
            });
        </script>
    </div>
</body>
</html>