{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <button class="new-theme outline grow">Новая тема</button>
    <div class="recent-themes">
        <h3>Недавние темы</h3>
        <div class="theme-home">
            <div class="theme-left">
                <h4>Боба Фетт Имхо Сигма Боба Фетт Имхо Сигма</h4>
                <p>gromlbv#3214</p>
            </div>
            <div class="theme-right">
                Активно 12 минут назад
                <button class="outline">Ответить</button>
            </div>
        </div>
    </div>
{% endblock content %}