{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <a href="{{ url_for('login') }}">Назад</a>
    <h2>Создать аккаунт</h2>
    <form action="{{ url_for('register') }}" method="POST">
        <input type="email" name="email" placeholder="your@mail.com">
        <input type="password" name="password" placeholder="Введите пароль">
        <input type="text" placeholder="Повторите пароль">
        <input type="submit" name="submit" value="Зарегистрироваться">
    </form>
    <a href="{{ url_for('register') }}">Создать аккаунт</a>

    
    <script>
        const form = document.getElementById('registerForm');
        form.addEventListener('submit', function (event) {
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirmPassword').value;
            
            if (password !== confirmPassword) {
                event.preventDefault();  // Остановить отправку формы
                alert('Пароли не совпадают!');
            }
        });
    </script>
{% endblock content %}